
.label2{
  display: inline;
  padding: 0.4em 5em .01em 6em;
  font-size: 110%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1.1;
  position: absolute;
  left: -1px;
  top: 0;
  border-radius: 0;
}











