@font-face {
  font-family: "iconfont"; /* Project id 2397568 */
  src: url('iconfont.woff2?t=1622699240678') format('woff2'),
       url('iconfont.woff?t=1622699240678') format('woff'),
       url('iconfont.ttf?t=1622699240678') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconhuoyan:before {
  content: "\e71a";
}

.iconweitingkao:before {
  content: "\e718";
}

.icontingkao:before {
  content: "\e719";
}

.iconshui:before {
  content: "\e711";
}

.iconyanhua:before {
  content: "\e712";
}

.icontexiao1:before {
  content: "\e70f";
}

.iconmoxing:before {
  content: "\e710";
}

.iconsanweifenxi:before {
  content: "\e64a";
}

.iconhuizhi:before {
  content: "\e70d";
}

.iconchangjing:before {
  content: "\e70b";
}

.iconpinghangguang:before {
  content: "\e70a";
}

.icondianguangyuan:before {
  content: "\e709";
}

.iconjuguangdeng:before {
  content: "\e708";
}

.iconwenjianjia:before {
  content: "\e706";
}

.iconguangyunxian:before {
  content: "\e657";
}

.iconchunse:before {
  content: "\e658";
}

.iconjiantouxian:before {
  content: "\e659";
}

.iconlunkuoxian:before {
  content: "\e65a";
}

.iconshixian:before {
  content: "\e65c";
}

.iconwangge:before {
  content: "\e65e";
}

.icontiaowen:before {
  content: "\e65f";
}

.iconweijixian:before {
  content: "\e660";
}

.iconxuxian:before {
  content: "\e661";
}

.icontingzhi:before {
  content: "\e705";
}

.iconzhongzhi:before {
  content: "\e704";
}

.iconzhibeizhen:before {
  content: "\e701";
}

.iconshouqi1:before {
  content: "\e702";
}

.iconquanping:before {
  content: "\e703";
}

.icontuceng:before {
  content: "\e700";
}

.iconfangda:before {
  content: "\e6fe";
}

.iconsuoxiao:before {
  content: "\e6ff";
}

.iconcaijian:before {
  content: "\e6fa";
}

.iconcela:before {
  content: "\e6fd";
}

.iconzujian:before {
  content: "\e6fc";
}

.icondixing:before {
  content: "\e6fb";
}

.iconshouqi:before {
  content: "\e6f8";
}

.iconshuju:before {
  content: "\e6f9";
}

.iconliangsuan:before {
  content: "\e6ec";
}

.iconqingchu:before {
  content: "\e6ed";
}

.iconVuezujian-liangsuan-yidijuli10:before {
  content: "\e6ef";
}

.icongaoduceliang:before {
  content: "\e6f0";
}

.iconkongjianmianji:before {
  content: "\e6f1";
}

.iconkongjianjuli:before {
  content: "\e6f2";
}

.iconyidimianji:before {
  content: "\e6f3";
}

.iconbofang:before {
  content: "\e6e2";
}

.icontouyingmianji:before {
  content: "\e6e3";
}

.icontexiao:before {
  content: "\e6e4";
}

.iconzanting:before {
  content: "\e6e5";
}

.icontianjiazhuiti:before {
  content: "\e6e6";
}

.icontianjiachangfangti:before {
  content: "\e6e7";
}

.icontianjiaqiuti:before {
  content: "\e6e8";
}

.icontianjiazhuti:before {
  content: "\e6e9";
}

