
.sm-input-long {
    float: right;
    width: 35%;
    @media (max-width: 750px) {
        width: 32%;
    }
}
.sm-function-module-sub-section {
    margin-bottom: 0;
  }
  .sm-function-module-content {
    margin: 0;
  }