
.sm-GeologicBodyOperation-btn {
  padding: 2px 6px;
  margin: 10px 2px 0px 2px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: darkgrey;
  border: 1px solid #686363;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0px;
  background-color: rgba(38, 38, 38, 0.75);
}

.sm-GeologicBodyOperation-input {
  float: none;
  width: 20%;
}


