.span-box2 {
    font-family: Microsoft YaHei;
    margin-left: 25px;
    margin-top: 12px;
}

.mleft {
    margin-left: 50px;
}

.editBox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}